@*@{
    Layout = null;
}*@




@*<!DOCTYPE html>
<html>*@
@*<html ng-app="myApp">*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

    <h2> Layout Page</h2>
    <p>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</p>
   
    <a ui-sref="login">login</a>
    <a ui-sref="Index">Index</a>




       

    @*<div> {{2 + 2}</div>*@

    <div class="container body-content">
        @*@RenderPage("~/Views/Shared/_Layout.cshtml")*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
@*</body>*@
@*</html>*@
